*{
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
	color: skyblue;
}
label{
	font-size: 18px;
}



body, .game {
    font-size: 15pt;
    background-color: #0E0E0E;
    display: flex;
    padding: 20px;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

body{
	justify-content: center;
	align-items: center;
}
body > h2{
	position: absolute;
	top: 10%;
}
.box{
	position: relative;
	background-color: #1B1B1D;
	height: 50%;
	width: 90%;
	border: 2px solid lightblue;
	border-radius: 20px;
	padding: 30px 10px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-width: 2px 5px 5px 2px;
	z-index: 1;
}

.field{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.field > input{
	background: #0E0E0E;
	border: 2px solid lightblue;
	border-radius: 10px;
	padding: 7px;
}

.field > input:focus{
	outline: none;
	border-color: lightblue;
}

button{
	padding: 7px;
	background-color: #0E0E0E;
	border: 2px solid lightblue;
	border-radius: 10px;
	margin-top: 20px;
	border-width: 1px 3px 4px 1px;
}

button:focus{
	animation: click 0.1s linear  forwards;
}
@keyframes click{
	50%{
		transform: translateY(3px);
		border-width: 1px;
	}
	
	100%{
		transform: translateY(0);
		border-width: 1px 3px 4px 1px;
	}
}

.game{
	width: 100%;
	padding: none;
	gap: 20px;
}
.score{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex: .2;
}

.card{
	border: 2px solid lightblue;
	padding: 10px 15px;
	border-radius: 10px;
	width: 25%;
}

.player1-score{
	border-right: 7px solid #5D53E9;
	text-align: right;
}

.player2-score{
	border-left: 7px solid #68B6BC;
}

.current-player{
	margin-top: 35px;
	flex: .2;
	width: 100%;
	text-align: center;
}

.grid-container{
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	padding: 10px 30px;
	height: 100%;
}

.grid-child{
	font-size: 50px;
	display: flex;
	justify-content: center;
    align-items: center;
	border: 2px solid lightblue;
	padding: 5px;
}

.extra{
	display: flex;
	justify-content: center;
    align-items: center;
	width: 100%;
	margin-top: 40px;
}

.reset{
	width: 40%;
	padding: 10px;
}

.one, .two, .three{
	border-top: none;
}

.one, .four, .seven{
	border-left: none;
}
.three, .six, .nine{
	border-right: none;
}

.seven, .eight, .nine{
	border-bottom: none;
}